.cat {
    height: 50px;
    width:50px;
    object-fit: cover;
    object-position: center;
    border-radius:300px;
    vertical-align: middle;
}

.text {
    vertical-align: middle;
    color:rgb(84, 74, 74);
    font-size: 20px;
    border: none;
    width: 300px;
    margin-left:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:8px;
}
.tweet {
    background-color: rgb(29, 155, 240);
    color:white;
    vertical-align: middle;
    border-radius: 30px;
    border:none;
   padding-left:16px;
   padding-right:16px;
    padding-top:8px;
    padding-bottom:8px;
    font-weight:bold;
    font-size: 16px;
    margin-left:8px;



}