.google {
    margin-left: 650px;
    margin-bottom: 10px;
    width:200px;
    display:block;
    
}

.search {
    margin-left: 480px;
    width: 600px;
    border-radius: 30px;
    border:none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;

}