.first-name ,
   .last-name {
     padding-top:8px;
    padding-bottom:8px;
    padding-left:8px;
    width:120px;
    border-radius:10px;
    border-style:solid;
    vertical-align: middle;
}


.email {
    display:block;
    margin-top: 10px;
     padding-top:8px;
    padding-bottom:8px;
    padding-left:8px;
    width:120px;
    border-radius:10px;
    border-style:solid;
    width: 259px;
  
}
.signup {
    margin-top:10px;
    color:white;
    background-color: rgb(47,127,231);
    width: 274px;
    border:none;
    border-radius:10px;
    font-weight:bold;
   padding-top:8px;
    padding-bottom:8px;
    text-align: center;
}
